acres==0.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.9.1
aiosignal==1.3.2
alembic==1.14.1
altair==5.5.0
altgraph==0.17.4
attrs==23.2.0
blinker==1.9.0
bottle==0.13.2
Brotli==1.1.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
clr_loader==0.2.7.post0
colorama==0.4.6
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
cryptography==44.0.0
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
DateTime==5.5
distlib==0.3.8
docopt==0.6.2
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.15.4
fitz==0.0.1.dev2
Flask==3.1.0
Flask-Compress==1.17
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flask_weasyprint==1.1.0
fonttools==4.56.0
fpdf==1.7.2
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.0.3
h11==0.14.0
httplib2==0.22.0
idna==3.7
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
looseversion==1.3.0
lxml==5.3.0
Mako==1.3.9
MarkupSafe==2.1.5
matplotlib==3.10.0
MouseInfo==0.1.3
multidict==6.1.0
narwhals==1.30.0
networkx==3.4.2
nfelib==2.1.1
nibabel==5.3.2
nipype==1.9.2
num2words==0.5.14
numpy==2.0.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.2.2
propcache==0.2.1
protobuf==5.29.3
prov==2.0.1
proxy_tools==0.1.0
psycopg2-binary==2.9.10
puremagic==1.28
pyarrow==19.0.1
PyAutoGUI==0.9.54
pycparser==2.22
pydeck==0.9.1
pydot==3.0.4
pydyf==0.11.0
pygame==2.6.0
PyGetWindow==0.0.9
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMuPDF==1.25.3
pyOpenSSL==25.0.0
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
pyphen==0.17.2
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pythonnet==3.0.5
pytweening==1.2.0
pytz==2024.1
pywebview==5.4
pywin32-ctypes==0.2.3
pyxnat==1.6.3
qrcode==8.0
rdflib==6.3.2
referencing==0.36.2
reportlab==4.2.5
requests==2.32.3
requests-file==2.1.0
requests-pkcs12==1.25
requests-toolbelt==1.0.0
response==0.5.0
rpds-py==0.23.1
scipy==1.15.2
selenium==4.23.0
setuptools==70.2.0
simplejson==3.20.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.31
streamlit==1.43.2
tenacity==9.0.0
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
tornado==6.4.2
traits==7.0.2
trio==0.26.0
trio-websocket==0.11.1
ttkthemes==3.2.2
twilio==9.4.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
VirtualEnvironment==0.1.2
watchdog==6.0.0
weasyprint==64.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
WTForms==3.1.2
xsdata==24.12
yarl==1.18.3
zeep==4.3.1
zope.interface==6.4.post2
zopfli==0.2.3.post1
zstandard==0.23.0
gunicorn